body{
    font-family: 'Times New Roman', Times, serif
}
.question{
    font-weight: 600;
}
.answer{
    cursor: pointer;
    /* transition: 0.5s; */
}
.answer:hover{
    color: gray;
}
.fa{
    font-size: 13px;
}
.toggle{
    display: none;
    transition: 0.5s;
}
.selectedRight{
    color: green;
}
.selectedWrong{
    color: red;
}